{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <h4> Log in</h4>

    <form method="post">

        {% csrf_token %}
        {{ form|crispy }}
        
        <button class="btn btn-primary">Log in</button>

    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:restore_password' %}"> Forgot your password?</a>
        </li>
        <li>
            <a href="{% url 'accounts:remind_username' %}"> Forgot your username?</a>
        </li>
        <li>
            <a href="{% url 'accounts:resend_activation_code' %}"> Resend an activation code</a>
        </li>
    </ul>

{% endblock %}
