* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
background: rgba(70, 70, 232, 0.2);

click
box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
background: rgba(70, 70, 232, 1);

 */
}
body {
  background: linear-gradient(hsl(240, 100%, 96%), #ffffff);
}

header {
  display: flex;
  margin: auto;
  margin-top: 1%;
  gap: 6%;
  width: 95%;
}

nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  margin-left: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 100%;
  line-height: 160%;
  color: #424a68;
}

.navbutton {
  width: 150px;
  height: 47px;
  padding: 14px 15px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: 1px solid #4646e8;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.navbutton:hover {
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
  background: rgba(70, 70, 232, 0.2);
  border: none;
}

.navbutton:focus {
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  background: rgba(70, 70, 232, 1);
  border: none;
}
#gets {
  background: #4646e8;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  padding: 16px 16px;
  text-align: center;
  border: none;
  width: 150px;
  height: 48px;
  color: #ffffff;
}
hr {
  border: 1px solid #10172d;
  width: 30%;
  margin: 9% 35%;
}

h3 + hr {
  border: 1px solid #10172d;
  width: 6%;
  margin: 1% 47%;
}
header h3 {
  /* H/2 */

  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  color: #1f1f1f;
}

header span {
  color: rgba(42, 42, 140, 1);
}

.container1 {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 125px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 150%;
  /* or 72px */

  color: #1f1f1f;
}
.container1 span {
  color: rgba(8, 216, 105, 1);
}

.make {
  margin-top: 77px;
}

h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */

  text-align: center;

  color: #1f1f1f;
}

.container2 {
  display: flex;
  width: 95%;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  align-items: center;
  justify-content: center;
  margin: 4% 2.5%;

  text-align: center;
  gap: 4.5%;
  color: #1f1f1f;
}

.container3 {
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */
  margin-top: 20px;

  color: #1f1f1f;
  width: 95%;
}

.container3 span {
  color: rgba(8, 216, 105, 1);
}

.container3 p {
  margin-top: 141px;
}

.container4 {
  display: flex;
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  
  gap: 5%;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin: 3% 2.5% 5%;
  width: 95%;
}

.learn {
  width: 150px;
  height: 47px;
  padding: 14px 15px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* identical to box height, or 17px */

  /* Foundation /Secondary/S500 */

  color: #4646e8;
  margin-left: 45%;
  border: 1px solid #4646e8;
  /* Numb shadow effect */

  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

footer {
  margin-top: 50px;
  display: flex;
  background: #20206b;
  gap: 70px;
  padding-top: 50px;
  padding-left: 60px;
}

footer h3 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: left;
  color: #1f1f1f;
  margin-bottom: 1em;
}
footer span {
  color: rgba(8, 216, 105, 1);
}
footer p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 1em;
  /* or 26px */

  color: #ffffff;
}

.email {
  border: 1px solid #ffffff;
  /* Numb shadow effect */

  height: 43.3px;
  box-shadow: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  border-radius: 5px 0px 0px 5px;
  padding: 12px;
  background: transparent;
  font: "Lato";
  margin-bottom: 46%;
}

.fsignup {
  border: 1px solid #ffffff;
  border-radius: 0px 5px 5px 0px;
  width: 150px;
  height: 43.16px;
  padding: 14px 15px;
  background: transparent;
  color: #ffffff;
  font: "Lato";
  cursor: pointer;
}

footer h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  margin-bottom: 10px;

  color: #ffffff;
}

footer li {
  margin-bottom: 1em;
}
ul {
  list-style-type: none;
  /* margin: 1em; */
  /* padding: 1em; */
  font-family: "Lato";
  color: #ffffff;
  line-height: 200%;
  font-size: 16px;
}

small {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  color: #ffffff;
}

button:hover {
  cursor: pointer;
  background: transparent;
}

.signup:hover {
  background: hsl(240, 43%, 66%);
}
