<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Home</title>
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css?family=Sora"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/5d9d54dcf9.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'excel/style.css' %}"
    />
  </head>
  <body>
    <header>
      <h3>Excel-<span>comp</span></h3>
      <nav>
        <a href="" class="home">Home</a>
        <a href="" class="aboutus">About Us</a>
        <a href="" class="testimonial">Testimonials</a>
        <a href="" class="contactus">Contact Us</a>
      </nav>
      <a href="{% url 'accounts:sign_up' %}"
        ><button class="signup">Sign Up</button></a
      >
      <a href="{% url 'accounts:log_in' %}"
        ><button class="login">Log In</button></a
      >
    </header>
    <main>
      <div class="container1">
        <div class="make">
          <p>
            Make your life easier <span>compare</span> your excel file with just
            one click and save yourself the stress
          </p>
        </div>
        <div>
          <img src="{% static 'excel/images/pana.svg' %}" alt="Pana Image" />
        </div>
      </div>

      <div class="container2">
        <img src="{% static 'excel/images/WhatweofferCarousel.svg' %}" alt="" />
        <img src="images/Vector.svg" alt="" class="vector" />
      </div>
      <div style="margin-top: 130px">
        <h3>What we offer</h3>
        <div class="container3">
          <div>
            <img src="{% static 'excel/images/cuate.svg' %}" alt="" />
          </div>
          <div>
            <p>
              An easy-to-use tool with flexible options for file comparison.
              Here, everything begins and ends with a <span>CLICK</span>.
            </p>
          </div>
        </div>
      </div>
      <div style="margin-top: 200px; justify-content: center">
        <h3>See what others think</h3>
        <div class="container4">
          <div>
            <p>
              Dorcas jone <br />
              Designer
            </p>
          </div>
          <div>
            <p>
              Miss Tonia <br />
              Accountant
            </p>
          </div>
          <div>
            <p>
              Rosemary Philip <br />
              Data analyst
            </p>
          </div>
          <div>
            <p>
              Mister Isaac <br />
              Developer
            </p>
          </div>
          <div>
            <p>
              Favour smith <br />
              Human resources
            </p>
          </div>
        </div>
        <button class="learn">Learn More</button>
      </div>
    </main>
    <footer>
      <div style="margin-right: 300px">
        <h3>Excel-<span>comp</span></h3>
        <p>Sign Up & get access to new promotional offers</p>
        <form action="">
          <input
            class="email"
            type="email"
            name="email"
            id="email"
            placeholder="Email address"
            required
          /><input class="fsignup" type="submit" value="Sign Up" />
        </form>
        <small>© 2022 Team_107. All Rights Reserved.</small>
      </div>
      <div>
        <h4>Support</h4>
        <ul>
          <li>Contact Us</li>
          <li>FAQs</li>
          <li>How it works</li>
          <li>Lorem</li>
          <li>Lorem</li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li>Excelcomp@gmail.com</li>
          <li>+234 800 000 0000</li>
          <li>Follow Us</li>
          <li>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
          </li>
        </ul>
      </div>
      <div>
        <h4>logo</h4>
        <ul>
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
          <li>Lorem</li>
        </ul>
      </div>
    </footer>
  </body>
</html>
