{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up success page</title>
    <link rel="stylesheet" href="{% static 'users/register_success.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <div class="content">
    <header>
    <h2>Welcome!</h2>
    </header>

    <main class="mainContainer">
        <p>Lets help you compare your files with seamless features.</p>
        <a href="#"><button>Continue</button></a>
    </main>
    </div>

    <footer> <p> Lorem hcjjcjjvkvkvlvjv <span style="color:rgb(162, 166, 180)">| Lorem hhcjcjk</span> | Lorem hhcjcjk | Lorem ufkkfilg </p> </footer>
</body>
</html>
