<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="mainLogin">
      <div class="blur">
        <img src="./images/loginImg.PNG" />
      </div>
      <div class="logIn">
        <form>
          <div class="head">
            <h2>Log In</h2>
          </div>
          <p class="email">Email</p>
          <input type="email" class="emailInput" placeholder="Email" />
          <p class="pass">Password</p>
          <input type="password" class="passInput" placeholder="Password" />
          <p>
            <button type="submit" class="inputButton" value="Login">
              Log in
            </button>
          </p>
          <div class="remember">
            <a href="#">Forgot password?</a>
          </div>
          <div class="icon">
            <p>Or log in with</p>
            <div class="loginwith">
              <a href="#"><i style="color: red" class="fa fa-google"></i></a>
              <a href="#"><i style="color: blue" class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-apple"></i></a>
            </div>
          </div>
          <div class="newUser">
            <p class="acc-text">
              Dont have an account?<a href="signup.html"> Signup</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript"></script>
  </body>
</html>
