<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <div class="mainSignUp">
      <div class="blur">
        <img src="./images/signupImg.PNG" />
      </div>
      <div class="signup">
        <form>
          <div class="headSignUp">
            <p class="signUpText">Sign Up</p>
            <p>Create an account</p>
          </div>
          <p class="fullNameSignUp signUpLabel">Full Name</p>
          <input
            type="text"
            class="fullNameInputSignup signUpInput"
            placeholder="Enter Full Name"
          />
          <p class="emailSignUp signUpLabel">Email</p>
          <input
            type="email"
            class="emailInputSignup signUpInput"
            placeholder="Enter Email"
          />
          <p class="passSignUp signUpLabel">Create Password</p>
          <input
            type="password"
            class="passInputSignup signUpInput"
            placeholder="Enter Password"
          />
          <p class="passSignUp signUpLabel">Re-enter Password</p>
          <input
            type="password"
            class="passInputSignup signUpInput"
            placeholder="Confirm Password"
          />
          <p>
            <button type="submit" class="inputButton" value="Sign up">
              Sign Up
            </button>
          </p>
          <div class="newUserSignUp">
            <p class="bottom-text">
              Have an account? <a href="login.html">Login</a>
            </p>
          </div>

          <div class="iconSignUp">
            <p class="bottom-text">Or Sign up with</p>
            <div class="signupWith">
              <a href="#"><i style="color: red" class="fa fa-google"></i></a>
              <a href="#"><i style="color: blue" class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-apple"></i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript"></script>
  </body>
</html>
