<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    
   
    <div class="container">
        <!---topbar-------------------------------------------------------->
        <div class="topbar">

            <!--username-->
            <div class="user">
                <h3 class="username">User: John</h1>
                    <!------------------username here-->

            </div>
            <!--User image-->
            <div class="user">
                <img src="profile pic.jpg" width="40px" height="40px">

            </div>

        </div>
        <!--sidebar---------------------------------------------------------->

        <div class="sidebar">
            <div class="logo">


                
                <h2>EXCEL COMP</h2>


            </div>
            <ul>
                <li>
                    <a href="Dashboard.html">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <br>

                <li>
                    <a href="library.html">
                        <i class="fas fa-file"></i>
                        <div>Library</div>
                    </a>
                </li>
                <br>

                <li>
                    <a href="profile.html">
                        <i class="fas fa-address-card"></i>
                        <div>Profile</div>
                    </a>
                </li>
                <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>



                <li>
                    <a href="support.html">
                        <i class="fas fa-question-circle"></i>
                        <div>Support</div>
                    </a>
                </li>

                <br>

                <li>
                    <a href="index.html">
                        <i class="fas fa-sign-out-alt"></i>
                        <div>Logout</div>
                    </a>
                </li>



            </ul>

        </div>

        <!-----main------------------------------------------------------------->

        <div class="main">
            <!--cards-->
            <div class="cards">
                <div class="userData">
                    <!--content of card for user-->
                    <div class="User-content">
                        <div class="Number"> Donwnloads</div>
                        <div class="CardName">1254844</div>
                        <!----django dnowload upload go here-->
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-download"></i>
                    </div>

                </div>
                <!-- ----------------->

                <div class="userData">
                    <!--content of card for user-->
                    <div class="User-content">
                        <div class="Number">Saved file</div>
                        <div class="CardName">1452</div>
                    </div>
                    <div class="icon-box">
                        <i class='fas fa-save'></i>
                    </div>

                </div>

                <!-------------------->
                <div class="userData">
                    <!--content of card for user-->
                    <div class="User-content">
                        <div class="Number">FAQ</div>
                        <div class="CardName"></div>
                    </div>
                    <div class="icon-box">
                        <i class="fas fa-question-circle"></i>
                    </div>
                </div>
                <!--------------------->


            </div>
            <!--Edit Profile ----------------------------------------------->  
            <!--form for upload-->
            <div class="contents">
                <form action="/action_page.php" class="profile"></form>
                <h1 class="edit_profile">Edit your Profile</h1>
                <div class="profile">
                    
                    <p >
                        
                           
                            <div class="Email">
                                <label for="Email" >Email</label><br>
                                <input type="text" id="email" name="email" placeholder="email" class="profileText">

                                <label for="Email" >Password</label><br>
                                <input type="password" id="password" name="password" placeholder="password" class="profileText">

                            </div>
                            <div class="first_Name">
                                <label for="fname" >FirstName</label><br>
                                <input type="text" id="fname" name="firstname" placeholder="First Name"  class="profileText">
                                <label for="fname">LastName</label><br>
                                <input type="text" id="lname" name="lastname"  placeholder="Last Name" class="profileText">

                            </div>
                            
                        
                            <br><br>
    
                        <br><br>
                           
                          
                         
    
                </div>
                <input type="submit" class="buttonProfile" value="Save">

            </form>
               

            </div>
           

        </div>






        
    </div>

    <script src="script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>