<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <!---topbar-------------------------------------------------------->
        <div class="topbar">
           
            <!--username-->
            <div class="user">
                <h3 class="username">User:John</h1><!---username here-->

            </div>
            
            <!--User image-->
            <div class="user">
                <img src="profile pic.jpg" width="40px" height="40px" >

            </div>

        </div>
        <!--sidebar---------------------------------------------------------->
       
        <div class="sidebar">
            <div class="logo">
                <div class="logoImg"> <img src="logoimage.png"  width="80px" height="80px" ></div>
                <h2>LOGO</h2>
                

            </div>
            <ul>
                <li>
                    <a href="Dashboard.html">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <br>

                <li>
                    <a href="library.html">
                        <i class="fas fa-file"></i>
                        <div>Library</div>
                    </a>
                </li>
                <br>

                <li>
                    <a href="profile.html">
                        <i class="fas fa-address-card"></i>
                        <div>Profile</div>
                    </a>
                </li>
                <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>



                <li>
                    <a href="support.html">
                        <i class="fas fa-question-circle"></i>
                        <div>Support</div>
                    </a>
                </li>

                <br>

                <li>
                    <a href="index.html">
                        <i class="fas fa-sign-out-alt"></i>
                        <div>Logout</div>
                    </a>
                </li>



            </ul>
        </div>
       
        <!-----main------------------------------------------------------------->
      
        <div class="main">
            <!--cards-->
            
         <!--Edit Pic ----------------------------------------------->   
            <div class="contents">
                <div class="Upload">
                    <h1>Edit Profile</h1><br><br><br>
                    <p >
                        <form action="/action_page.php" class="profile">
                            
                            <label for="fname" >Change Picture</label>
                            <input type="file" id="upload1"  class="buttonUpload" name="upload" placeholder="change picture"><br><br>

    
                            <input type="submit" class="button2" value="Update ">
                          </form>

                </div>
                <!--Recent uploads-->
                <div class="Upload">
                    <h1>Recent uploads</h1>
                    <table width="100%" >
                        
                        <tr>
                            <th>Name of File</th>
                            <th>Date of upload</th>
                            <th>upload file</th>
                            

                        </tr>
                       
                    
                        <tr>
                            <td> school work </td>
                            <td> 2/7/2022</td>
                            <td>  
                            <a href="#">  <!-------dnowload  link  here-->
                            <button type="button" class="button">
                                <span class="buttontext2">Download</span>
                                
                                <span class="buttonicon2">
                                <ion-icon name="download"></ion-icon></span>
                             </button>
                             </a>
                            </td>
                           
                        </tr>
                        <tr>
                            <td> school work </td>
                            <td> 2/7/2022</td>
                            <td> 
                                <a href="#"> <!-----dnowload  link  here-->
                                <button type="button" class="button">
                                   <span class="buttontext2">Download</span>
                                   
                                   <span class="buttonicon2">
                                   <ion-icon name="download"></ion-icon></span>
                                </button>

                                </a>
                            </td>
                            
                        </tr>
                   
                    </table>
                </div>

            </div>
            <div class="footer">

                <p>Copyrite 2022 @ zuriteam proj_team_107</p>
    
            </div>

        </div>
       





    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>